<div class="container">
    <div class="back-button mt-2">
        <div class="">
            <button class="btn btn-secondary rounded-5 px-3 back" (click)="gotoHome()">
                <i class="bi bi-arrow-left-circle-fill me-2"></i>Back
            </button>
        </div>
    </div>
    <div class="login-signup d-flex flex-column">
        <form id="signup-form" [formGroup]="signupform" (ngSubmit)="signup()">
            <h2>Sign Up</h2>
            <div class="mb-3">
                <input type="text" placeholder="Username" formControlName="username" class="m-0"
                    autocomplete="username">
                @if((submitted() || signupform.get('username')?.touched) && signupform.get('username')?.invalid){
                <small class="text-danger p-0 m-0">Username required</small>
                }
            </div>
            <div class="mb-3">
                <input type="email" placeholder="Email" formControlName="email" class="m-0" autocomplete="email">
                @if((submitted() || signupform.get('email')?.invalid) && signupform.get('email')?.touched){
                <small class="text-danger p-0 m-0" *ngIf="signupform.get('email')?.errors?.['required']">Email
                    required</small>
                <small class="text-danger p-0 m-0" *ngIf="signupform.get('email')?.errors?.['email']">Email
                    Invalid</small>

                }
            </div>
            <div class="mb-3">
                <input type="password" placeholder="Password" formControlName="password" class="m-0"
                    autocomplete="new-password">
                @if((submitted() || signupform.get('password')?.touched) && signupform.get('password')?.invalid){
                @if(signupform.get('password')?.hasError?.('required')){
                <small class="text-danger p-0 m-0">Password required</small>
                }
                @if (signupform.get('password')?.hasError?.('minlength')) {
                <small class="text-danger p-0 m-0">Password must be 6 charater long</small>
                }
                }
            </div>
            <button type="submit">Sign Up</button>
        </form>
        <div class="link mt-3">
            Already have an account? <span><a [routerLink]="['/login']"
                    routerLinkActive="router-link-active">Login</a></span>
        </div>
    </div>
</div>