<div class="container">
    <div class="login-signup d-flex flex-column">
        <form id="signup-form" [formGroup]="signupform" (ngSubmit)="signup()">
            <h2>Sign Up</h2>
            <div class="mb-3">
                <input type="text" placeholder="Username" formControlName="username" class="m-0">
                @if((submitted() || signupform.get('username')?.touched) && signupform.get('username')?.invalid){
                <small class="text-danger p-0 m-0">Username required</small>
                }
            </div>
            <div class="mb-3">
                <input type="email" placeholder="Email" formControlName="email" class="m-0">
                @if((submitted() || signupform.get('email')?.touched) && signupform.get('email')?.invalid){
                <small class="text-danger p-0 m-0">Email required</small>
                }
            </div>
            <div class="mb-3">
                <input type="password" placeholder="Password" formControlName="password" class="m-0">
                @if((submitted() || signupform.get('password')?.touched) && signupform.get('password')?.invalid){
                @if(signupform.get('password')?.hasError?.('required')){
                <small class="text-danger p-0 m-0">Password required</small>
                }
                @if (signupform.get('password')?.hasError?.('minlength')) {
                <small class="text-danger p-0 m-0">Password must be 6 charater long</small>
                }
                }
            </div>
            <button type="submit">Sign Up</button>
        </form>
        <div class="link mt-3">
            Already have an account? <span><a [routerLink]="['/login']"
                    routerLinkActive="router-link-active">Login</a></span>
        </div>
    </div>
</div>