<div class="container">
   
    @if(quizes().length > 0){
    <div class="row py-3 border-bottom">
        <div class="col-12 fs-lg-2 fs-4">
            Latest quizes
        </div>
    </div>
    <div class="quizlist">
        @for (quiz of quizes(); track $index) {
        <div class="card shadow mt-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-12 ">
                        <h4 class="card-title">{{ quiz.quizTitle }}</h4>
                    </div>
                    <div class="col-lg-6 col-12 mt-lg-0 mt-2 mb-lg-0 mb-3">
                        <div class="row">
                            <div class="col-6">
                                <p class="mb-1 fs-lg-3 fs-6"><strong>Total Questions:</strong> {{ quiz.questions.length }}
                                </p>
                            </div>
                            <div class="col-6">
                                <p class="me-4 fs-lg-3 fs-6"><strong>Duration:</strong> {{ quiz.quizTimer.minute }} min
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="card-text">{{ quiz.quizDescription }}</p>
                <div class="row">
                    <div class="col-12 text-end">
                        <button class="btn play text-white" (click)="play(quiz.id)">Play Quiz</button>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
    }
    @else if(quizes().length == 0) {
    <div class="noQuiz d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-12 text-center noPic">
                <img src="assets/images/undraw_quick-chat_3gj8.svg" alt="" >
            </div>
            <div class="col-12 fs-4 text-center">
                No quiz available
                <p class="fs-6">Please contact your admin for quiz <br> otherwise login as admin to create quiz</p>
            </div>
        </div>
    </div>
    }
    <!-- @if(loading()){
        <div class="d-flex justify-content-center align-items-center vh-100">
            <div class="spinner-grow text-warning " role="status">
                <span class="sr-only"></span>
            </div>
        </div>
    } -->
</div>