<div class="container mt-4">

    <!-- Progress Bar -->
    <!-- <div class="progress mb-4">
        <div class="progress-bar bg-success" role="progressbar"
            [style.width.%]="(currentQuestionIndex + 1) / questions.length * 100"
            [attr.aria-valuenow]="(currentQuestionIndex + 1)" [attr.aria-valuemin]="1"
            [attr.aria-valuemax]="questions.length">
            {{ currentQuestionIndex + 1 }} / {{ questions.length }}
        </div>
    </div> -->



    <!-- Back button -->
    <div class="row">
        <div class="col-6">
            <button class="btn btn-secondary previous" (click)="backtoHome()" id="1">
                <i class="bi bi-arrow-left"></i> Back
            </button>
        </div>
        <div class="col-6 text-end" *ngIf="!isPaused()">
            <button class="btn btn-secondary next ms-2" (click)="backtoHome()" id="1">
                Submit
            </button>
            <button class="btn btn-secondary next ms-2" (click)="onPause()" id="1">
                Pause
            </button>
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center full-screen" *ngIf="isPaused()">
        <div class="resume text-center" *ngIf="isPaused()">
            <h4>Remaining Time: {{formateTime(remainingTime())}} minute</h4>
            <button class="btn btn-secondary next ms-2 mt-3" (click)="onResume()" id="1">
                Resume
            </button>
        </div>
    </div>


    <!-- Quiz Details -->
    <div class="row mt-4" *ngIf="!isPaused()">
        <div class="col-8">
            <div class="row">
                <div class="col-6 text-center">
                    <div>Question #</div>
                    <div class="fs-1"> {{ currentQuestionIndex() + 1 }}</div>
                </div>
                <div class="col-6 text-center">
                    <div>Remaining Question</div>
                    <div class="fs-1">{{remainingQuestion()}}/{{questions().length}}</div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-6 text-center">
                    <div>Score</div>
                    <div class="fs-1">{{currentScore()}}/{{questions().length}}</div>
                </div>
                <div class="col-6 text-center">
                    <div>Timer</div>
                    <div class="fs-1">
                        <app-timer [timer]="quizTime()" (remainingTime)="remainingTimer($event)"></app-timer>                      
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Navigation Buttons -->
    <div class="row mt-3 " *ngIf="!isPaused()">
        <div class="col-12 text-end">
            <button class="btn btn-secondary previous ms-2 " [disabled]="currentQuestionIndex() === 0"
                (click)="prevQuestion()" id="1">
                <i class="bi bi-arrow-left"></i> Previous
            </button>
            <button class="btn text-white next ms-2 " [disabled]="currentQuestionIndex() === questions().length - 1"
                (click)="nextQuestion()" id="2">
                Next <i class="bi bi-arrow-right"></i>
            </button>
        </div>
    </div>

    <!-- Question Display -->
    <div *ngIf="questions().length > 0 && questions()[currentQuestionIndex()] as currentQuestion">
        <div class="card mt-3" *ngIf="!isPaused()">
            <div class="card-header text-white">
                Question {{ currentQuestionIndex() + 1 }}
            </div>
            <div class="card-body">
                <p class="fs-3">Q. {{ currentQuestion.questionText }}</p>

                <!-- Multiple Choice -->
                <div *ngIf="currentQuestion.questionType === 'multiple-choice'">
                    <div *ngFor="let option of currentQuestion.options; let i = index" class="fs-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="option" [value]="option"
                                id="option-{{ i }}"
                                [checked]="selectedAnswers[currentQuestionIndex()]?.optionIndex === i"
                                (change)="checkAnswer(i)" [disabled]="!!selectedAnswers[currentQuestionIndex()]" />
                            <label class="form-check-label" for="option-{{ i }}" [ngClass]="{
                                                  'text-success': (selectedAnswers[currentQuestionIndex()]?.optionIndex === i &&
                                                    selectedAnswers[currentQuestionIndex()]?.answer === true) ||
                                                    (selectedAnswers[currentQuestionIndex()]?.answer === false &&
                                                      selectedAnswers[currentQuestionIndex()]?.correctAnswerIndex === i),
                                                  'text-danger': selectedAnswers[currentQuestionIndex()]?.optionIndex === i &&
                                                    selectedAnswers[currentQuestionIndex()]?.answer === false
                                                }">
                                {{ option.text }}
                            </label>
                        </div>
                    </div>
                </div>

                <!-- True/False -->
                <div *ngIf="currentQuestion.questionType === 'true-false'" class="fs-4">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" [value]="true"
                            id="true-option-{{ currentQuestionIndex() }}" name="q{{ currentQuestionIndex() }}"
                            (change)="checkAnswer(0, true)"
                            [checked]="selectedAnswers[currentQuestionIndex()]?.answer === true"
                            [disabled]="!!selectedAnswers[currentQuestionIndex()]" />
                        <label class="form-check-label" for="true-option-{{ currentQuestionIndex() }}" [ngClass]="{
                                            'text-success': selectedAnswers[currentQuestionIndex()]?.isCorrect && selectedAnswers[currentQuestionIndex()]?.answer === true,
                                            'text-danger': !selectedAnswers[currentQuestionIndex()]?.isCorrect && selectedAnswers[currentQuestionIndex()]?.answer === true
                                          }">
                            True
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" [value]="false"
                            id="false-option-{{ currentQuestionIndex() }}" name="q{{ currentQuestionIndex() }}"
                            (change)="checkAnswer(0, false)"
                            [checked]="selectedAnswers[currentQuestionIndex()]?.answer === false"
                            [disabled]="!!selectedAnswers[currentQuestionIndex()]" />
                        <label class="form-check-label" for="false-option-{{ currentQuestionIndex() }}" [ngClass]="{
                                            'text-success': selectedAnswers[currentQuestionIndex()]?.isCorrect && selectedAnswers[currentQuestionIndex()]?.answer === false,
                                            'text-danger': !selectedAnswers[currentQuestionIndex()]?.isCorrect && selectedAnswers[currentQuestionIndex()]?.answer === false
                                          }">
                            False
                        </label>
                    </div>
                </div>

                <!-- Short Answer -->
                <div *ngIf="currentQuestion.questionType === 'short-answer'" class="fs-4">
                    <input type="text" class="form-control" placeholder="Enter the answer"
                        [value]="selectedAnswers[currentQuestionIndex()]?.a" (input)="checkAnswer(0, $event)"
                        [disabled]="!!selectedAnswers[currentQuestionIndex()]" />
                    <div *ngIf="selectedAnswers[currentQuestionIndex()]?.isCorrect" class="text-success mt-2">
                        Correct Answer!
                    </div>
                    <div *ngIf="selectedAnswers[currentQuestionIndex()]?.isCorrect == false" class="text-danger mt-2">
                        Incorrect! The correct answer is: {{ currentQuestion.answer }}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>