@import url('https://fonts.googleapis.com/css2?family=Playwrite+NL+Guides&family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: "Varela", serif !important;
    background-color: rgb(246, 246, 246) !important;
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}